# Node.js

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Output directories
dist/
build/

# Debug and logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log

# OS-specific files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/

# PM2
.pids
*.pid
*.seed
*.pid.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs for tools
lerna-debug.log
npm-debug.log
yarn-debug.log
pnpm-debug.log

# Optional lock files (choose based on your package manager)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Parcel cache
.cache/

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Remix build output
.build/

# SvelteKit build output
.svelte-kit/

# Turborepo
turbo/

# TypeScript
*.tsbuildinfo

http___127_0_0_1_8080*.jpeg
http___127_0_0_1_8080*.html

http___127_0_0_1_8000*.jpeg
http___127_0_0_1_8000*.html
